<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>ClientLeger</display-name>
	<session-config>
		<session-timeout>-1</session-timeout>
	</session-config>
	<context-param>
		<param-name>JDBC_DRIVER</param-name>
		<param-value>com.mysql.cj.jdbc.Driver</param-value>
	</context-param>
	<context-param>
		<param-name>JDBC_URL</param-name>
		<param-value>jdbc:mysql://localhost:3306/udoc</param-value>
	</context-param>
	<context-param>
		<param-name>JDBC_LOGIN</param-name>
		<param-value>valentin</param-value>
	</context-param>
	<context-param>
		<param-name>JDBC_PASSWORD</param-name>
		<param-value>Valentin1234@</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Accueil</servlet-name>
		<servlet-class>fr.clientleger.Accueil</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>fr.clientleger.Index</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Inscription</servlet-name>
		<servlet-class>fr.clientleger.Inscription</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>Editeur</servlet-name>
		<servlet-class>fr.clientleger.Editeur</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Accueil</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Inscription</servlet-name>
		<url-pattern>/inscription</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Editeur</servlet-name>
		<url-pattern>/editeur</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>helloServlet</welcome-file>
	</welcome-file-list>

</web-app>