* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* Box */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    /* Box */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Décorations */
    background-color: #636060;
}

/* ***Barre de menu**************************************** */

.menu-bar {
    /* Box */
    height: 7.5%;
    width: 100%;
}

.menu-bar-list {
    /* Box */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Décorations */
    background-color: #2e2b2b;
    box-shadow: 2px 2px #636060;
    border-radius: 3px;
    list-style-type: none;
}

.menu-bar-submenu-item {
    /* Box */
    margin: 0.5%;
    float: left;
}

.menu-bar-submenu-title {
    /* Box */
    padding: 1.5vh 1vw;
    /* Texte */
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.menu-bar-submenu-title:hover {
    /* Décorations */
    background-color: #111;
}

.menu-bar-submenu-items {
    /* Box */
    display: none;
}

/* ***Barre d'outils/statut******************************** */

.tools-bar {
    /* Box */
    height: 7.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Décorations */
    background-color: #2e2b2b;
    box-shadow: 2px 2px #636060;
    border-radius: 3px;
}

.tools-bar .bar-section {
    /* Box */
    margin-left: 1vh;
}

.status-bar {
    height: 7.5%;
    width: 100%;
    /* Box */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Décorations */
    background-color: #2e2b2b;
    box-shadow: 2px 2px #636060;
    border-radius: 3px;
}

.status-bar .bar-section {
    /* Box */
    margin-left: 1vh;
}

.status-bar .bar-section:first-child {
    /* Box */
    width: fit-content;
}

.status-bar .bar-section:nth-child(2) {
    /* Box */
    width: max-content;
}

.bar-section {
    /* Box */
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* Décorations */
    background-color: #545050;
    border-radius: 3px;
}

.bar-section-legend {
    /* Box */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 1vw;
    margin: 1.25vh 1.25vh;
    /* Texte */
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.bar-button {
    /* Box */
    width: 30%;
    padding: 1vh 1vw;
    margin: 1.25vh 1.25vh;
}

.zoom-slider {
    /* Box */
    width: 90%;
}

/* ***Éditeur********************************************** */

.editor-container {
    /* Box */
    height: 76.5%;
    width: 100%;
    overflow: scroll;
}

.editor-subcontainer {
    height: 500%;
    padding: 10% 10%;
}

.editor {
    /* Box */
    height: 100%;
    width: 100%;
    padding: 5%;
    margin-top: 5%;
    /* Text */
    font-size: 30px;
}