* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Animations */
    transition: background-color 0.5s, color 0.5s;
}

html {
    /* Box */
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    /* Box */
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* Décorations */
    background-color: #636060;
}

/* ***Barre de menu**************************************** */

.menu-bar {
    /* Box */
    height: 7.5%;
    width: 100%;
}

.menu-bar-list {
    /* Box */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* Décorations */
    background-color: #2e2b2b;
    box-shadow: 2px 2px #636060;
    border-radius: 3px;
    list-style-type: none;
}

.menu-bar-submenu-item {
    /* Box */
    margin: 0.5%;
    float: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-bar-submenu-title {
    /* Box */
    padding: 1.5vh 1vw;
    /* Texte */
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 3px;
    /* Décorations */
    cursor: alias;
}

.menu-bar-submenu-title:hover {
    /* Décorations */
    background-color: #111;
}

.menu-bar-submenu-items {
    /* Box */
    display: flex;
    width: 0;
    height: 0;
    flex-direction: row;
    justify-content: space-around;
    /* Texte */
    text-indent: -1000px;
    /* Décorations */
    background-color: #636060;
    opacity: 0;
    cursor: pointer;
    /* Animations */
    transition: opacity 1s, width 1s, padding 1s, height 1s, text-indent 1s;
}

.menu-bar-submenu-items * {
    /* Box */
    height: 100%;
    padding: 1vh 1vw;
    /* Texte */
    text-align: center;
    text-decoration: none;
    color: white;
    list-style: none;
    cursor: pointer;
    /* Décorations */
    border-radius: 3px;
}

.menu-bar-submenu-items *:hover {
    /* Décorations */
    text-shadow: 2px 2px black;
}

.menu-bar-submenu-item:hover .menu-bar-submenu-items {
    /* Box */
    width: calc(max(max(1vw, 1vh) * 30, 700px));
    height: fit-content;
    /* Texte */
    text-indent: 0;
    /* Décorations */
    opacity: 1;
}

/* ***Barre d'outils/statut******************************** */

.tools-bar {
    /* Box */
    height: 7.5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Décorations */
    background-color: #2e2b2b;
    box-shadow: 2px 2px #636060;
    border-radius: 3px;
}

.tools-bar .bar-section {
    /* Box */
    margin-left: 1vh;
}

.tools-bar > .bar-section:last-child {
    /* Box */
    margin-right: 1vh;
}

.status-bar {
    height: 7.5%;
    width: 100%;
    /* Box */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Décorations */
    background-color: #2e2b2b;
    box-shadow: 2px 2px #636060;
    border-radius: 3px;
}

.status-bar .bar-section {
    /* Box */
    margin-left: 1vh;
}

.status-bar .bar-section:first-child {
    /* Box */
    width: fit-content;
}

.status-bar .bar-section:nth-child(2) {
    /* Box */
    width: max-content;
}

.bar-section {
    /* Box */
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* Décorations */
    background-color: #545050;
    border-radius: 3px;
}

.bar-section-legend {
    /* Box */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 1vw;
    margin: 1.25vh 1.25vh;
    /* Texte */
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 3px;
}

.bar-button, #pseudo {
    /* Box */
    width: fit-content;
    max-width: 30%;
    padding: 1vh 1vw;
    margin: 1.25vh 1.25vh;
    overflow: hidden;
    /* Texte */
    font-size: 0.75em;
    color: black;
    /* Décorations */
    border: none;
    background-color: azure;
    border-radius: 3px;
}

#pseudo {
    /* Box */
    width: 30%;
    /* Texte */
    color: black;
    /* Décorations */
    background-color: azure;
}

.bar-section > form {
    /* Box */
    width: 40%;
}

.bar-section > form > .bar-button {
    /* Box */
    width: 100%;
    max-width: 100%;
}

.bar-button:hover, .bar-button:focus {
    /* Texte */
    color: azure;
    /* Décorations */
    background-color: black;
}

.zoom-slider {
    /* Box */
    width: 90%;
}

/* ***Éditeur********************************************** */

.editor-container {
    /* Box */
    height: 76.5%;
    width: 100%;
    overflow: scroll;
}

.editor-subcontainer {
    height: 500%;
    padding: 10% 10%;
}

.editor {
    /* Box */
    height: 100%;
    width: 100%;
    padding: 5%;
    margin-top: 5%;
    /* Text */
    font-size: 30px;
}